<ion-slides  [options]="optSlide">

    <ion-slide  *ngFor="let trending of trendingMovie | slice:limitStart:limitMovie">
  
      <ion-card style="width:200px !important; min-height: 220px !important;" color="dark" class="animateMovie" (click)="getMovie(trending)" mode="ios"> 
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img  [src]="trending.poster_path | image"></ion-img>
  
        <ion-card-header>
          <ion-card-title  style="font-size: 14px !important;color:white">{{ trending.original_title | cutText }}</ion-card-title>
        </ion-card-header>
      </ion-card>
  
    </ion-slide>
  
  </ion-slides>