<ion-header class="ion-no-border">
  <ion-toolbar color="dark" mode="ios">
    <ion-title>{{ data.name }}</ion-title>
    <ion-buttons slot="start" mode="md">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <section class="bannerShow"> 
  
  <ion-img [src]="backdrop" class="backdrop animateMovie"></ion-img>
  <ion-img [src]="poster" class="poster animateMovie"></ion-img>
 
  <ion-list-header color="dark">
    <ion-label style="margin-top: -30px !important; text-align: center !important; font-size:18px !important">{{ data.name }}</ion-label>
  </ion-list-header>


  <p class="overview"> {{data.overview}} </p>
 </section>

 <ion-list mode="ios" color="dark">


  <ion-item color="dark">
    <ion-label>Likes</ion-label>
    <ion-note><ion-icon name="thumbs-up-outline"></ion-icon> +{{data.vote_count | number }}</ion-note>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Popularity</ion-label>
    <ion-note> {{(data.popularity) | number }}%</ion-note>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Show type</ion-label>
    <ion-note> {{type | uppercase }}</ion-note>
  </ion-item>

   <ion-item color="dark">
     <ion-label>Date</ion-label>
     <ion-note>{{ data.first_air_date | date}}</ion-note>
   </ion-item>

   <ion-item color="dark">
    <ion-label>From</ion-label>
    <ion-note>{{ data.origin_country[0]}}</ion-note>
  </ion-item>
 </ion-list>

 <section *ngIf="similarMoviesArr.length>0">

  <h5 class="title">Recomendation {{similarMoviesArr.length}}</h5>
  <app-facemovie limitMovie="20" [trendingMovie]="similarMoviesArr"></app-facemovie>

 </section>
</ion-content>
 
