 
  <ion-toolbar color="dark" [ngStyle]="{'height': heightToolbar}">
 
    <ion-buttons class="close">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-img class="backdrop animateMovie" [src]="movieImg | image"></ion-img>
    <ion-img [src]="poster | image" class="poster animateMovie"></ion-img>

    <ion-title class="title"> {{ title|cutText:28 }} </ion-title>
  </ion-toolbar>
 

<ion-content color="dark">
  <article class="review">

    <div>
      <ion-button fill="clear">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon color="danger" name="thumbs-up-outline"></ion-icon> 
        <small color="danger"> {{ vote }} Votes</small>
      </ion-button>
    </div>

    <div class="radius">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect> 
      <span color="danger"> {{ popularity }}%</span>
    </div>

    <div class="radius">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect> 
      <span color="danger"> {{ lang }}</span>
    </div>
 
    <div class="radius">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect> 
      <span color="danger"> {{ dates|date }}</span>
    </div>
 
  </article>

  <article class="animateMovie">
    <p class="overview"> {{ overview }}  </p>
    <ion-button style="text-align: center;" *ngIf="buttonMore" expand="full" fill="clear" (click)="moreText()"> 
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>

    <ion-button style="text-align: center;" *ngIf="!buttonMore" expand="full" fill="clear" (click)="moreText()"> 
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-button>
    
  </article>

</ion-content>
 