.poster{
    position: relative !important;
    width: 140px !important;
    top: -80px !important;
    left: 35% !important;
    box-shadow: 2px 2px 15px #444 ;
    right: 45% !important;
    height:210px;
    width: 140px;
    background-color: rgb(126, 124, 124);
    z-index: 10000 !important;
   
}
 
.backdrop{
    width: 100vw;
    background-color: rgb(78, 76, 76);
    min-height: 160px;
    animation:filters 2s 1s linear !important;
}
@keyframes filters{
    from{
        filter: blur(1.2px) !important;
    }
    to{
        filter: blur(0) !important;
    }
}
 
.title{
    text-align: center;
}

.bannerShow{
    margin-bottom: -10px !important;
}
 
.review{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.overview{
    margin-top: -10px;
    line-height: 22px;
    font-size:16px;
    padding: 3px 10px;
}

.radius{
    min-width:50px;
    height:28px;
    border-radius:6px;
    display:flex;
    padding: 0 5px;
    justify-content:center;
    align-items:center;
    border:1.2px solid rgb(172, 43, 43);
}

 