

<ion-tabs slot="bottom" >

  <ion-tab-bar color="dark">

      <ion-tab-button tab="homepage">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="explore">
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>Explorar</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="tv">
        <ion-icon name="tv-outline"></ion-icon>
        <ion-label>TV shows</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="openFav()">
        <ion-icon  name="cloud-download-outline"></ion-icon> 
        <ion-label>Mi lista</ion-label>
      </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>